

{% extends 'base.html' %}

{% block encabezado %}
<h1> Animes </h1>
{% endblock %}

  {% block contenido %}
  			
			{% for row in animes %}
				
				<dt><img src="{{row.imagen}}"></dt>
			    <dt><b>Titulo: </b>{{row.titulo}} | <b>ID: </b> {{row.id}}</dt>
			    <dd><b>Rango: </b>{{row.rango}} | <b>Popularidad: </b>{{row.popularidad}} | <b>Episodios: </b>{{row.episodios}} </dd>
			    <dd><b>Fecha de Inicio: </b>{{row.fechaInicio}} | <b>Fecha de Fin: </b>{{row.fechaFinal}} </dd>
			    <dd><b>Sinopsis: </b>{{row.sinopsis}}</dd>
			    <dd> <b>Generos: </b>
			    {% for gen in row.generos.all %}
			    	{{gen.nombre}}.
			    {% endfor %}
		    	<br>
		    	
			{% endfor %}
  {% endblock %}
